
.main {
  /* padding: 20px 20px 60px; */
  /* max-width: 680px; */
  /* margin: 0 auto; */
}

.intro {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  /* background-image: url('https://pbs.twimg.com/media/GIfI_rCWsAAAmMA?format=jpg&name=large'); */
}

.card {
  transition: all 0.25s ease;
  border: 2px solid;
  margin: 20px;
  box-shadow: #ba2423 0px 0px 0px 2px inset, #f5f5f5 10px -10px 0px -3px, #ba2423 10px -10px, #f5f5f5 20px -20px 0px -3px, #ba2423 20px -20px;
  width: 20vw;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 35vh;
  /* background-image: url('https://pbs.twimg.com/media/GIfI_rCWsAAAmMA?format=jpg&name=large'); */
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.25s ease;
}

.cards {
  display: flex;
  justify-content: center;
}